Hi to calculation of jordanian electricity bill
<br /><br />
<br /><br />
<form action="/calc" method="post">
  <label for="from">Last read</label>
  <input id="from" name="from" placeholder="Enter last read..." type="text" />
  <br /><br />
  <label for="to">Current read</label>
  <input id="to" name="to" placeholder="Enter current read..." type="text" />
  <br /><br />
  <input name="commit" type="submit" value="Submit" />
</form>